@model List<Brands>


<section id="brand" class="brand">

    <div class="container">
        <div class="brand-area">

            <div class="owl-carousel owl-theme brand-item">
                @foreach (var item in Model)
                {
                    <div class="item">
                        <a href="#">
                            <img src="~/Brands/@item.FileName" alt="brand-image" />
                        </a>
                    </div>
                }
                <!--/.item-->

            </div>

            <!--/.owl-carousel-->

        </div><!--/.clients-area-->

    </div><!--/.container-->

</section>


<!--/brand-->
<!--brand end -->


